
.body {
  width: 100vw;
  height: 50vh;
  background-color: #2e2f33;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}

.card-profile{
  background-color: #e2dfdf;
  margin-top: 10vh;
  margin-left: 0vw;
  height: 450px;
}
  
.back-arrow {
  position: absolute;
  margin-top: -18vh;
  cursor: pointer;
  margin-left: 4vh;
}


.profile{
  font-family: "Roboto", sans-serif;
  margin-top: -15vh;
  
}
  
.images-logo-profile {
  margin-top: -1vh;
  margin-left: -2vh;
}

.profilepic{
  margin-left: -45vh;
  margin-bottom: 10vh;
}
  
.groupinfo{
  /* line-height: 0.7; */
  font-family: "Roboto", sans-serif;
  margin-left: 35vh;
  margin-top: -47vh;
  margin-bottom: 10vh;
}

.edit-imf-button{
  margin-right: 5vh;
  background-color: #ffa24c !important;
  color: #000000 !important;

}

.edit-imf-button.ant-btn:hover{
  background-color: #ff8c1a !important;
  border-color: #ff8c1a !important;
  color: #000000 !important;

}
